<div class="cloudListidx" style="width: 550px;">
	<div class="cloudListidxTit posiRel">
		云文件签署
		<div class="closeBtn" ng-click="closeThisDialog()">×</div>
	</div>
	<div class="cloudListCon">
		<ul class="flexBox">
			<li class="mrb20" style="width: 130px;">
				<div class="currentStatus colorWhite text_align_center mrAuto">当前状态</div>
				<div class="currentSteps curBg colorWhite">1</div>
				<!--<div class="currentSteps curBgUndo colorWhite">1</div>-->
				<p class="colorGray text_align_center mrt20 font12">黄家驹已发送</p>
				<p class="colorGray text_align_center mrt10 font12">2017/06/29 10:13</p>
			</li>
			<li class="mrb20" style="width: 130px;">
				<div class="currentStatus colorWhite text_align_center opticy mrAuto">当前状态</div>
				<!--<div class="currentSteps curBg colorWhite">1</div>-->
				<div class="currentSteps curBgUndo colorWhite">2</div>
				<p class="colorGray text_align_center mrt20 font12">刘德华待发送</p>
				<p class="colorGray text_align_center mrt10 font12">2017/06/29 10:13</p>
			</li>
			<li class="mrb20" style="width: 130px;">
				<div class="currentStatus colorWhite text_align_center opticy mrAuto">当前状态</div>
				<div class="currentSteps curBgComplete colorWhite">3</div>
				<p class="colorGray text_align_center mrt20 font12">完成</p>
			</li>
			<div class="clearfix"></div>
		</ul>
	</div>
</div>
