<div class="cloudListidx" style="width: 420px;height: 550px;">
	<div class="cloudListidxTit posiRel">
		合同模板签署
		<div class="closeBtn" ng-click="closeThisDialog()">×</div>
	</div>
	<div class="cloudListCon">
		<div class="cloudFileSearch mrb20">
			<input class="floatLeft" type="text" ng-model="searchItem" placeholder="搜索..." />
			<span class="floatRight" ng-click="searchfiles(searchItem,1)">查看</span>
		</div>
		<div class="bgColorgray cloudListDetailtitle">
			<ul>
				<li class="floatLeft">序号</li>
				<li class="floatLeft text_align_left">文件名称</li>
				<li class="floatLeft">操作</li>
				<div class="clearfix"></div>
			</ul>
		</div>
		<div class="cloudListDetail">
			<table>
				<tr ng-repeat="modelItem in modellist track by $index">
					<td width="75px">{{$index}}</td>
					<td width="229px" title="{{modelItem.fileName}}"><div>{{modelItem.fileName}}</div></td>
					<td width="75px"><a class="colorDanger text_underline" ng-click="itemcli(modelItem.id)">签章</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
