<div class="cloudListidx" style="width: 420px;height: 550px;">
	<div class="cloudListidxTit posiRel">
		合同模板签署
		<div class="closeBtn" ng-click="closeThisDialog()">×</div>
	</div>
	<div class="cloudListCon">
		<div class="cloudFileSearch mrb20">
			<input class="floatLeft" type="text" placeholder="搜索..." />
			<span class="floatRight">查看</span>
		</div>
		<div class="bgColorgray cloudListDetailtitle">
			<ul>
				<li class="floatLeft">序号</li>
				<li class="floatLeft text_align_left">文件名称</li>
				<li class="floatLeft">操作</li>
				<div class="clearfix"></div>
			</ul>
		</div>
		<div class="cloudListDetail">
			<table>
				<tr>
					<td width="75px">1</td>
					<td width="229px" title="员工合同员工合同员工合同员工合同员工合同员工合同"><div>员工合同</div></td>
					<td width="75px"><a class="colorDanger text_underline" href="#/fileSign" ng-click="closeThisDialog(1)">签章</a></td>
				</tr>
				<tr>
					<td width="75px">2</td>
					<td width="229px" title="员工合同员工合同员工合同员工合同员工合同员工合同" href="#/personInfo"><div>员工合同</div></td>
					<td width="75px"><a class="colorDanger text_underline">签章</a></td>
				</tr>
			</table>
		</div>
	</div>
</div>
