/*reset*/

* {
	margin: 0;
	padding: 0;
}

body *,body *:after,body *:before {
	box-sizing: border-box;
}

body,input,select,textarea,a,pre {
	font-family: 'Heiti SC', 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Helvetica, sans-serif;
	font-size: 14px;
	color: #333;
	line-height: 1;
	outline: none;
}
em,i {
	font-style: normal;
}
a {
	text-decoration: none;
	cursor: pointer;
}
ul,li{
	list-style: none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
color: #cfcfcf; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #cfcfcf; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #cfcfcf; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #cfcfcf; 
} 		
input[type=radio],input[type=checkbox]  {  
    display: inline-block;  
    vertical-align: middle;  
    width: 20px;  
    height: 20px;  
    margin-left: 5px;
    appearance: none;  
    -webkit-appearance: none;  
    -moz-appearance: none;  
    background-color: transparent;  
    border: 0;  
    outline: 0 !important;  
    line-height: 20px;  
    color: #d8d8d8;  
    cursor: pointer;
}  
input[type=radio]:after  {  
    content: "";  
    display:block;  
    width: 20px;  
    height: 20px;  
    /*border-radius: 50%;  
    -moz-border-radius: 50%;  
    -webkit-border-radius: 50%;  */
    text-align: center;  
    line-height: 14px;  
    font-size: 16px;  
    color: #fff;  
    border: 2px solid #ddd;  
    background-color: #ddd;  
    box-sizing:border-box;  
}  
  
input[type=checkbox]:after  {  
    content: "";  
    display:block;  
    width: 20px;  
    height: 20px;  
    text-align: center;  
    line-height: 14px;  
    font-size: 16px;  
    color: #fff;  
    border: 2px solid #ddd;  
    background-color: #fff;  
    box-sizing:border-box;  
}  
input[type=checkbox]:checked:after  {  
    border: 4px solid #ddd;  
    background-color: #3499da;  
}  
  
input[type=radio]:checked:after  {  
    content: "✔";  
    /*transform: matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);  
    -webkit-transform: matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);  
    -moz-transform: matrix(-0.766044,-0.642788,-0.642788,0.766044,0,0);*/
    border-color: #3499da;  
    background-color: #3499da;  
}  		

/*公共样式定义*/
	.floatLeft{
		float: left;
	}
	.floatRight{
		float: right;
	}
	.displayInLB{
		display: inline-block;
	}
	.posiRel{
		position:relative;
	}
	.posiAbs{
		position:absolute;
	}
	.clearfix{
		clear: both;
	}
	.vertail-line-2-78{
		width: 1px;
		height: 78px;
		background: #eaeaea;
		position:absolute;
		right: 0;
		top: 50%;
		margin-top: -39px;
	}
	.boxCircle{
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	.bgColorsuc{
		background: #49c562 !important;
		color: #fff;
	}
	.bgColordanger{
		background: #fe1c1c !important;
		color: #fff;
	}
	.bgColorwarn{
		background: #ffc107;
		color: #fff;
	}
	.bgColorblue{
		background: #3db0da;
		color: #fff;
		border: 1px solid #3db0da;
	}
	.bgColorblack{
		background: #333742;
		color: #fff;
	}
	.bgColorgray{
		background: #ccc;
		color: #838383;
	}
	.bgColortextdanger{
		background: #c60001;
		color: #fff;
	}
	.bgColortextblue{
		background: #3499da;
		color: #fff;
	}
	.bgBorderblue{
		color: #3db0da !important;
		background: #fff;
	}
	.bgBordergray{
		color: #8b8b8b;
		border: 1px solid #cfcfcf;
		background: #fff;
	}
	.hoverBlue:hover{
		background: #3db0da;
	}
	.borderBlue{
		border:1px solid #3db0da !important;
	}
	.borderdanger{
		border: 1px solid #fe1c1c  !important;
	}
	.borderBtf5{
		border:1px solid #f5f5f5;
	}
	.borderNone{
		border: 0 !important;
	}
	.colorGray{
		color: #8b8b8b;
	}
	.colorSuc{
		color: #49c562;
	}
	.colorDanger{
		color: #c60001;
	}
	.colorBlue{
		color: #3499da !important;
	}
	.colorWhite{
		color: #fff !important;
	}
	.colorDarkblue{
		border: 1px solid #000099 !important;
		background: #fff !important;
		color: #000099 !important;
	}
	.opticy{
		opacity: 0;
		-moz-opacity: 0;
		-webkit-opacity: 0;
	}
	.font12{
		font-size: 12px !important;
	}
	.font20{
		font-size: 20px !important;
	}
	.text_underline{
		text-decoration: underline;
	}
	.mrAuto{
		margin: auto;
	}
	.mrb10{
		margin-bottom: 10px;
	}
	.mrb20{
		margin-bottom: 20px;
	}
	.mrb40{
		margin-bottom: 40px;
	}
	.mrt10{
		margin-top: 10px;
	}
	.mrt20{
		margin-top: 20px;
	}
	.mrt40{
		margin-top: 40px;
	}
	.mrl10{
		margin-left: 10px;
	}
	.mrl15{
		margin-left: 15px;
	}
	.mrl25{
		margin-left: 25px;
	}
	.mrl50{
		margin-left: 50px;
	}
	.pdt35{
		padding-top: 35px;
	}
	.cursor{
		cursor: pointer;
	}
	.text_align_center{
		text-align: center;
	}
	.text_align_left{
		text-align: left !important;
	}
	.displayInLB{
		display: inline-block;
	}
	.displayBl{
		display: block;
	}
	.bigFont50{
		font-size: 50px !important;
	}
	.bigFont36{
		font-size: 36px !important;
	}
	.arrow-left{
		display: block;
		width: 14px;
		height: 14px;
		border-left: 2px solid #979797;
		border-bottom: 2px solid #979797;
		transform: rotate(45deg);
		margin-top: 13px;
	}
	.arrow-down{
		display: block;
		width: 14px;
		height: 14px;
		border-left: 2px solid #979797;
		border-bottom: 2px solid #979797;
		transform: rotate(45deg);
		margin-top: 13px;
	}
	.btn{
		display: inline-block;
		padding: 15px 20px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		cursor: pointer;
	}
	.btn-mini{
		display: inline-block;
		padding: 0 10px;
		line-height: 26px;
		font-size: 12px;
		border: 1px solid #838383;
		color: #838383;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		cursor: pointer;
	}
	.btn-middle{
		display: inline-block;
		padding: 0 20px;
		line-height: 28px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		cursor: pointer;
	}
	.btn-middle-long{
		display: inline-block;
		padding: 0 80px;
		line-height: 40px;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		cursor: pointer;
	}
	.f404 {
	    background: url(img/404.png) no-repeat 0 0;
	    width: 432px;
	    height: 195px;
	    margin: 90px auto 0 auto;
	}
	.notOPen{
		position: fixed;
		top: 60px;
		left: 0;
		background: #5dade1;
		color: #fff;
		font-size: 18px;
		text-align: center;
		width: 100%;
		height: 70px;
		line-height: 70px;
		display: none;
	}
	.flexBox{
		display: flex;
		display: -ms-flexbox;
		display: -webkit-flex;
		flex-flow: row wrap; 
		align-items: stretch; 
		justify-content: center;
	}
	.overflowVis{
		overflow: visible !important;
	}
	/*a  upload */
	.a-upload {
	    padding: 0 15px;
	    height: 24px;
	    line-height: 22px;
	    position: relative;
	    cursor: pointer;
	    font-size: 12px;
	    color: #888;
	    background: #fafafa;
	    border: 1px solid #c6c6c6;
	    border-radius: 4px;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    overflow: hidden;
	    display: inline-block;
	    *display: inline;
	    *zoom: 1
	}
	.a-upload  input {
	    position: absolute;
	    font-size: 100px;
	    right: 0;
	    top: 0;
	    opacity: 0;
	    filter: alpha(opacity=0);
	    cursor: pointer
	}
	
	.a-upload:hover {
	    color: #444;
	    background: #eee;
	    border-color: #ccc;
	    text-decoration: none
	}
/*公共样式定义*/
/*顶部导航开始*/
	.header{
		width: 100%;
		height: 60px;
		border-bottom: 1px solid #ccc;
		position: absolute;
		top: 0;
		left: 0;			
		background: #fff;
		overflow: visible;
	}
	.headlogo{
		background: url(img/mainLogo.png) no-repeat left;
		width: 200px;
		height: 100%;
		margin-left: 25px;
	}
	.headlogo a{
		display: block;
		width: 100%;
		height: 100%;
	}
	.back{
		width: 200px;
		height: 40px;
		margin: 10px 0;
		border-left: 1px solid #b7b7b7;
		padding-left: 35px;
		color: #999c9e;
		font-size: 18px;
		line-height: 40px;
	}
	.back a{
		color: #999c9e;
		font-size: 18px;
		line-height: 40px;
		text-decoration: underline;
	}
	.userInfo{
		height: 100%;
		line-height: 60px;
		margin-right: 35px;
	}
	.userLogo{
		width: 40px;
		height: 40px;
		margin: 10px;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		background: lightblue;
	}
	.userName{
		margin: 0;
		cursor: pointer;
	}
	.tool{
		position: absolute;
		padding: 8px 0;
		z-index: 9;
		width: 150px;
		top: 50px;
		right: 0;
		margin-left: -75px;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.tool ul li{
		width: 100%;
		height: 30px;
		line-height: 30px;
		color: #909090;
		text-align: center;
	}
	.tool ul li a:hover{
		color: #ccc;
	}
	.tool ul li a{
		color: #909090;
		display: block;
		line-height: 30px;
		width: 100%;
		height: 100%;
	}
/*顶部导航结束*/

/*主体开始*/
	.container{
		position: fixed;
		top: 60px;
		left: 0;
		right:0;
		bottom: 0;
	}
	/*左侧边栏导航开始*/
		.sider{
			position: absolute;
			left: 0;
			top: 0;
			width: 160px;
			height: 100%;
			background: #333742;
		}
		.menus{
			color: #fff;
		}
		.menus a{
			display: block;
			line-height: 50px;
			color: #a7b1c2;
			padding: 0 15px 0 25px;
		}
		.menus a:hover{
			color: #fff;
			background: #292c35;
			border-left: 3px solid #00bcd4;
		}
		.menu-active{
			color: #fff !important;
			background: #292c35;
			border-left: 3px solid #00bcd4;
		}
	/*左侧边栏导航结束*/
	
	/*主体内容开始*/
		.main{
			position: absolute;
			left: 160px;
			top: 0;
			right: 0;
			bottom: 0;
			width: calc(100% - 160px);
			width: -moz-calc(100% - 160px);
			width: -webkit-calc(100% - 160px);
			overflow-y: auto;
			background: #f3f3f4;
			padding: 20px 60px 20px 20px;
		}
		/*所有内页页面主容器*/
		.main-container{
			width: 100%;
			min-height: 100%;
		}
		.main-container-white{
			width: 100%;
			min-height: 100%;
			background: #fff;
		}
		.main-container-short-white{
			width: 100%;
			background: #fff;
		}
		.main-container-full{
			position: fixed;
			top: 60px;
			bottom: 0;
			left: 0;
			right: 0;
			background: #f3f3f4;
		}
		.top-main-container{
			width: 100%;
			height: 100%;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.bottom-btn-group{
			position: absolute;
			height: 61px;
			bottom: 0;
			left: 0;
			right: 0;
			border-top: 1px solid #ccc;
			background: #fff;
			padding: 10px 75px 10px 45px;
		}
		/*首页私有样式*/
		.mrt12{
			margin-top: 13px;
		}
		.idxItemList li{
			width: 33.333333%;
			height: 170px;
			padding: 0 20px 30px 0;
			margin: 0 !important;
		}
		.itemList li{
			width: 33.333333%;
			height: 210px;
			padding: 0 20px 30px 0;
			margin: 0 !important;
		}
		.itemCon{
			width: 100%;
			height: 100%;
			background: #fff;
		}
		.itemcontent{
			position:absolute;
			width: 210px;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-30%);
			z-index: 9;
		}
		.idxItem{
			width: 235px;
			margin: auto;
		}
		.localfile{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%; 
			height: 100%;
			display: block;
			opacity: 0;
		}
		.itemCon:hover{
			-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,.1);  
			-moz-box-shadow: 0 0 15px 3px rgba(0,0,0,.1);  
			box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
		}
		.itemConActive{
			-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,.1);  
			-moz-box-shadow: 0 0 15px 3px rgba(0,0,0,.1);  
			box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
		}
		.idxItemLogo{
			width: 70px;
			height: 70px;
			line-height: 70px;
			text-align: center;
			/*overflow: hidden;*/
		}
		.idxItemLogoceil{
			position:absolute;
			left: 50%;
			top: 0;
			transform: rotate(45deg);
		}
		.square{
			width: 16px;
			height: 40px;
			background: #fff;
			margin-bottom: 3px;
		}
		.triangle-down{
			width: 0;
		    height: 0;
		    border-left: 8px solid transparent;
		    border-right: 8px solid transparent;
		    border-top: 16px solid #fff;
		}
		.idxItemText{
			width: 150px;
		}
		.idxItemTitFir{
			font-size: 22px;
			color: #6e6e6e;
		}
		.idxItemTetFir{
			color: #aeaeae;
			line-height: 20px;
			margin-top: 10px;
		}
		.idxItemTit{
			font-size: 22px;
			line-height: 70px;
			color: #6e6e6e;
		}
		/*任务模块*/
		.search{
			width: 40%;
			min-width: 430px;
			height: 32px;
			border: 1px solid #cfcfcf;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.search input{
			border: none;
			width: calc(100% - 98px);
			width: -moz-calc(100% - 98px);
			width: -webkit-calc(100% - 98px);
			height: 100%;
			padding: 0 20px;
		}
		.filterBar{
			width: 100%;
			padding: 10px 20px;
			background: #f1f1f1;
		}
		.filterBar table{
			width: 75%;
			color: #a4a4a4;
			text-align: right;
			line-height: 32px;
		}
		.filterBar table td{
			height: 32px;
			padding: 10px 15px 10px 0;
		}
		.filterBar table input, .filterBar table select{
			width: 100%;
			height: 100%;
			display: block;
			border: 1px solid #d9d9d9;
			padding: 0 5px;
		}
		.resultBar table{
			line-height: 36px;
		}
		.resultBar table tr th, .resultBar table tr td{
			height: 36px;
			padding-left: 20px;
			border: none;
			color: #585858;
		}
		.resultBar table tr th{
			text-align: left;
			font-size: 16px;
			color: #838383;
			background: #ededed;
		}
		.resultBar table tr:nth-child(odd){
			background: #f6f6f6;
		}
		.resultBar table tr:nth-child(even){
			background: #fff;
		}
		.resultBarLeft{
			width: 75%;
			overflow-x: scroll;
		}
		.resultBarLeft table{
			/*min-width: 100%;*/
		}
		.resultBarRight table{
			width: 100%;
		}
		.resultBarRight{
			width: 25%;
			padding-left: 1px;
		}
		.number{
			position:absolute;
			left: 0;
		}
		/*个人中心样式*/
		.pTitle{  
			width: 100%;
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #f0f0f0;
			padding: 0 15px;
			color: #6e6e6e;
		}
		.pContent{  
			width: 100%;
			padding: 45px 15px 60px 15px;
		}
		.pHeadlogo{
			width: 100%;
			height: 225px;
			padding-top: 50px;
		    padding-left: 70px;
		}
		.pHeadlogoPic{
			width: 122px;
			height: 122px;
			border-radius: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border: 1px solid #e8e8e8;
			margin: auto;
			cursor: pointer;
			overflow: hidden;
		}
		.logoFile{
			position:absolute;
			top: 0;
			left: 0;
			opacity: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
		.pHeadlogoText{
			text-align: center;
			line-height: 48px;
			color: #6e6e6e;
		}
		.pSetmsg{
			width: 100%;
			padding-bottom: 50px;
		}
		.pSetmsg table{
			width: 367px;
			font-size: 12px;
			margin: auto;
			color: #a4a4a4;
		}
		.pSetmsg table tr td{
			padding: 8px;
			text-align: right;
			height: 50px;
		}
		.pSetmsg table tr td i{
			color: #c60001;
		}
		.pSetmsg table tr td input{
			width: 100%;
			height: 100%;
			display: block;
			border: 1px solid #d9d9d9;
			padding: 8px;
		}
		.pSetmsg table tr td select{
			width: 87px;
			height: 100%;
			display: block;
			float: left;
			border: 1px solid #d9d9d9;
			margin-right: 5px;
			padding: 3px;
			color: #a4a4a4;
		}
		.pSetmsg table tr td select option:disabled{
			background: #fff !important;
		}
		.pSetmsg table tr td select:last-child{
			margin-right: 0;
		}
		.pSetmsgSubmit{
			width: 100%;
			height: 100%;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			text-align: center;
			color: #fff;
			font-size: 14px;
			line-height: 34px;
			cursor: pointer;
		}
		.pMsgRec{
			width: 33.333333%;
			height: 95px;
			padding: 0 35px;
		}
		.pMsgRecItem{
			width: 279px;
		}
		.pMsgReclogo{
			width: 95px;
			height: 95px;
			background: lightblue;
			text-align: center;
			position: relative;
		}
		.pMsgReclogo img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.pMsgRectext{
			padding: 20px;
		}
		.pMsgRectextTit{
			line-height: 30px;
			font-size: 20px;
			color: #6e6e6e;
		}
		.pMsgRectextTit span{
			display: inline-block;
			width: 30px;
			height: 30px;
			margin-left: 15px;
			text-align: center;
		}
		.pMsgRectextTet{
			font-size: 12px;
			line-height: 40px;
			color: #a9a9a9;
		}
		.pMailRecTips{
			width: 40%;
			border-right: 1px solid #eaeaea;
			height: 215px;
			padding-left: 20px;
		}
		.pMailRecDatas{
			width: 60%;
			height: 215px;
		}
		.pMailRecTit{
			font-size: 16px;
			color: #6e6e6e;
			margin-bottom: 30px;
		}
		.pMailRecTet{
			font-size: 12px;
			color: #6E6E6E;
			line-height: 30px;
		}
		.pMailRecItem{
			width: 470px;
			height: 160px;
			margin-top: 28px;
			padding: 10px 0;
		}
		.pMailRecItembg{
			width: 30px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 10px;
			background: #f3f3f4;
			border-radius: 30px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
		}
		.pMailRecItemTip{
			position: absolute;
			top: -50px;
			left: 50%;
			margin-left: -195px;
			width: 390px;
			height: 30px;
			line-height: 26px;
			font-size: 12px;
			border: 2px solid #b1b1b1;
			border-right: none;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.pMailRecItemTip li{
			padding-left: 35px;
			padding-right: 10px;
			position: relative;
			color: #6e6e6e;
		}
		.pMailRecItemTip li .arrow{
			display: block;
			position: absolute;
			width: 20px;
			height: 20px;
			border: 2px solid #a6a6a6;
			border-bottom: none;
			border-left: none;
			transform: rotate(45deg);
			top: 3px;
			right: -15px;
		}
		.pMailRecGroup{
			width: 100%;
			height: 50px;
		}
		.pMailReclogo{
			width: 50px;
			height: 50px;
			line-height: 50px;
			text-align: center;
			color: #fff;
			font-size: 22px;
		}
		.pMailRectext{
			width: 120px;
			line-height: 50px;
			text-align: right;
			padding-right: 10px;
		}
		.pMailRecIpt{
			width: 180px;
			display: block;
			height: 30px;
			margin-top: 10px;
			border: 1px solid #d9d9d9;
			margin-right: 15px;
		}
		.pMailRecIpt input{
			width: 100%;
			display: block;
			height: 100%;
			border: none;
			padding: 8px;
		}
		.pMailRecBtn{
			width: 105px;
			height: 30px;
			margin-top: 10px;
			text-align: center;
			line-height: 30px;
			color: #fff;
			font-size: 16px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.pNameRecTips{
			width: 40%;
			border-right: 1px solid #eaeaea;
			height: 453px;
			padding-left: 20px;
		}
		.pNameRecDatas{
			width: 60%;
			height: 453px;
		}
		.pNameRecItem{
			width: 500px;
			padding: 10px 0;
		}
		.pNameRecItemTip li{
			width: 220px;
			height: 35px;
			border: 1px solid #c6c6c6;
			line-height: 33px;
			text-align: center;
			color: #6e6e6e;
			font-size: 12px;
		}
		.pNameRecItemTip li:hover{
			background: #f3f3f4;
		}
		.pNameRecItemTipAct{
			background: #f3f3f4;
		}
		.pNameRecItemTip li:first-child{
			border-right: none;
			border-radius: 3px 0 0 3px;
			-moz-border-radius: 3px 0 0 3px;
			-webkit-border-radius: 3px 0 0 3px;
		}
		.pNameRecItemTip li:last-child{
			border-radius: 0 3px 3px 0;
			-moz-border-radius: 0 3px 3px 0;
			-webkit-border-radius: 0 3px 3px 0;
		}
		.idRecGroupTit{
			font-size: 12px;
			line-height: 40px;
			color: #6e6e6e;
		}
		.idRecGroupPic{
			width: 190px;
			height: 110px;
			padding: 6px 13px;
			border: 2px dashed #c6c6c6;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.idRecGroupConfirm{
			width: 100%;
			left: 0;
			bottom: 36px;
		}
		.idPicFront, .idPicBack, .idPicPeo{
			width: 100%;
			height: 100%;
		}
		.idPicFront{
			background: url(img/idCardidx.png) no-repeat center;
		}
		.idPicBack{
			background: url(img/idCardbg.png) no-repeat center;
		}
		.idPicPeo{
			background: url(img/idCardph.png) no-repeat center;
		}
		.msgSet{
			padding-left: 20px;
		}
		.msgSetLogo{
			width: 50px;
			height: 50px;
			position: relative;
		}
		.msgSetLogo img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.msgSetTextTit{
			font-size: 16px;
			color: #656565;
			line-height: 28px;
		}
		.msgSetTextTet{
			font-size: 12px;
			color: #a4a4a4;
			line-height: 22px;
		}
		.openbtnbg, .closebtnbg{
			margin-top: 15px;
			cursor: pointer;
			cursor: -ms-pointer;
			width: 90px;
			height: 35px;
			border: 1px solid #93b1c7;
			background: #afd4ee;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.openbtnceil, .closebtnceil{
			width: 46px;
			height: 30px;
			background: #fff;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			box-shadow: 1px 2px rgba(0,0,0,0.1);
			-webkit-box-shadow: 1px 2px rgba(0,0,0,0.1);
			margin: 1px 0 0 1px;
		}
		.openbtntail, .closebtntail{
			width: 15px;
			height: 15px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
		.openbtntailceil, .closebtntailceil{
			width: 4px;
			height: 100%;
			background: #afd4ee;
		}
		.closebtnbg{
			border: 1px solid #a8a5a8;
			background: #b1afb2;
		}
		.closebtntailceil{
			background: #b1afb2;
		}
		.personalSign{
			width: 220px;
			height: 135px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			background: #e7e7e7;
			background: url(img/picbg.png) no-repeat center;
		}
		.personalSignH5{
			width: 365px;
			height: 135px;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-flow: row wrap; 
			align-items: stretch; 
			justify-content: space-between;
		}
		.qrCode{
			width: 135px;
			height: 135px;
			border: 1px dashed #c6c6c6;
			padding: 10px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.qrCodeIntro{
			width: 168px;
			height: 100%;
			line-height: 24px;
		}
		/*对话框样式*/
		.fullScreenbg{
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0,0,0,0.1);
		}
		.cloudListidx{
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%,-50%);
			background: #fff;
		}
		.cloudListidxTit{
			width: 100%;
			height: 75px;
			padding-top: 10px;
			font-size: 20px;
			line-height: 60px;
			text-align: center;
			color: #585858;
			border-bottom: 1px solid #e0e0e0;
		}
		.closeBtn{
			width: 30px;
			height: 30px;
			line-height: 30px;
			font-size: 30px;
			color: #cccccc;
			position: absolute;
			top: 25px;
			right: 25px;
			cursor: pointer;
		}
		.cloudListCon{
			padding: 20px 15px;
			width: 100%;
		}
		.cloudFileSearch{
			width: 100%;
			height: 34px;
			border: 1px solid #e0e0e0;
			border-radius: 30px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			padding: 0 15px;
		}
		.cloudFileSearch input{
			border: none;
			height: 100%;
			display: block;
			width: calc(100% - 40px);
			width: -moz-calc(100% - 40px);
			width: -webkit-calc(100% - 40px);
		}
		.cloudFileSearch span{
			width: 40px;
			text-align: center;
			line-height: 32px;
			cursor: pointer;
		}
		.cloudListCon table{
			width: 100%;
			line-height: 40px;
			table-layout: fixed;
			border: 1px solid #ccc;
		}
		.cloudListCon table td div{
			width: 100%;
			text-align: left;
			height: 100%;
			white-space: nowrap;
			text-overflow:ellipsis;
			-ms-text-overflow: ellipsis;
			overflow: hidden;
		}
		.cloudListDetailtitle{
			width: 100%;
			height: 40px;
			line-height: 40px;
			border-radius: 3px 3px 0 0 !important;
			-moz-border-radius: 3px 3px 0 0 !important;
			-webkit-border-radius: 3px 3px 0 0 !important;
			padding: 0;
			color: #838383;
		}
		.cloudListDetailtitle li:nth-child(1), .cloudListDetailtitle li:nth-child(3){
			width: 75px;
		}
		.cloudListDetailtitle li:nth-child(2){
			width: 230px;
		}
		.cloudListDetail{
			max-height: 340px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.cloudListDetail table tr:nth-child(even){
			background: #f6f6f6;
			color: #585858;
		}
		.cloudListDetail table tr:nth-child(odd){
			background: #fff;
			color: #585858;
		}
		.currentStatus{
			font-size: 12px;
			line-height: 17px;
			width: 70px;
			border-radius: 30px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			background: #3499da;
		}
		.currentSteps{
			width: 130px;
			height: 48px;
			line-height: 48px;
			font-size: 28px;
			text-align: center;
			margin: 10px 0;
		}
		.curBg{
			background: url(img/stepCur.png) no-repeat center;
		}
		.curBgUndo{
			background: url(img/stepUndo.png) no-repeat center;
		}
		.curBgComplete{
			background: url(img/stepComplete.png) no-repeat center;
		}
		
		
		
		.cloudNav{
			width: 265px;
			height: 100%;
			background: #fff;
			border-right: 1px solid #e9e9ea;
		}
		.cloudMain{
			position: absolute;
			left: 340px;
			right: 60px;
			top: 0;
			bottom: 0;
			background: #fff;
			border-left: 1px solid #e9e9ea;
			border-right: 1px solid #e9e9ea;
		}
		.cloudSearch{
			width: 100%;
			background: #ebebeb;
			padding: 15px 0 15px 20px;
		}
		.cloudSearch input{
			display: block;
			width: 170px;
			height: 30px;
			background: #fff;
			border: none;
			border-radius: 30px;
			-moz-border-radius: 30px;
			-webkit-border-radius: 30px;
			padding-left: 17px;
		}
		.addBtn{
			width: 22px;
			height: 22px;
			margin: 4px 10px;
		}
		.triangleDbtn{
			width: 22px;
			height: 22px;
			margin-top: 4px;
		}
		.searchType{
			position: absolute;
			z-index: 9;
			top: 30px;
			left: 5px;
			width: 100px;
			height: 140px;
			font-size: 12px;
			background: #fff;
			padding: 10px 15px;
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
		}
		.searchType li{
			color: #909090;
			line-height: 30px;
		}
		.cloudFileList{
			width: 264px;
			position: absolute;
			top: 60px;
			bottom: 70px;
			left: 0;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.cloudFileList a{
			display: block;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			width: 264px;
			padding: 20px 15px;
			line-height: 24px;
			color: #585858;
			border-bottom: 1px solid #f5f5f5;
			overflow: hidden;
		}
		.cloudFileList a img{
			display: block;
			width: 12px;
			margin-top: 3px;
		}
		.cloudFileList a span{
			display: block;
			width: 208px;
		}
		.cloudFileListActive{
			border-left: 4px solid #3499da;
			padding-left: 10px !important;
			background: #d6ebf8;
		}
		.cloudModelBtn{
			width: 240px;
			height: 32px;
			border: 1px solid #3499da;
			position: absolute;
			bottom: 20px;
			left: 12px;
		}
		.cloudModelBtn a{
			color: #3499da;
			line-height: 30px;
			width: 100%;
			height: 100%;
			text-align: center;
			font-size: 16px;
			display: block;
		}
		.cloudMainTitle{
			height: 51px;
			padding: 10px 20px 10px 30px;
			line-height: 30px;
			border-bottom: 1px solid #f6f6f6;
			font-size: 18px;
			color: #585858;
		}
		.editTitle{
			height: 100%;
			display: block;
			float: left;
			width: 50%;
			line-height: 30px;
			font-size: 18px;
			color: #585858;
		}
		.cloudMainTitle a{
			color: #fff;
			font-size: 16px;
		}
		.cloudMainTitle a:hover{
			background: #3499DA;
		}
		.cloudMainEditor{
			width: 100%;
			height: calc(100% - 51px);
			height: -moz-calc(100% - 51px);
			height: -webkit-calc(100% - 51px);
		}
		.fileModellist{
			width: 155px;
			height: 205px;
			border: 1px solid #ececec;
			padding: 8px;
			margin: 0 25px 25px 0;
		}
		.fileModeltit{
			width: 100%;
			line-height: 22px;
			font-size: 12px;
			color: #5f5e5e;
		}
		.fileContent{
			padding: 15px;
			overflow: hidden;
		}
		.filesContain{
			width: 100%;
			height: 195px;
			padding: 0 15px;
		}
		.filesArrowCon{
			width: 40px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			margin-top: 77px;
		}
		.filesPicCon, .signPicCon{
			width: calc(100% - 80px);
			width: -moz-calc(100% - 80px);
			width: -webkit-calc(100% - 80px);
			height: 100%;
			padding: 0 15px;
			overflow: hidden;
		}
		.filesPicConUl{
			height: 100%;
			zoom:1; 
			white-space:nowrap;
			width: 100%;
			overflow-x: auto;
			overflow-y: hidden;
		}
		.scrollbar{
			width: 100%;
			height: 17px;
			position: absolute;
			bottom: 0;
			left: 0;
			background: #fff;
		}
		.signPicCon ul{
			height: 100%;
		}
		.filesPicConItem{
			display: inline-block;
			margin-right: -6px;
			background: none !important;
		}
		.filesPicConItem, .signNoticeHeadLogo ul li{
			width: 155px;
			height: 100%;
			padding: 0 10px;
			background: #ededed;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
		}
		.signPicCon ul li{
			width: 170px;
			height: 100%;
			margin: 10px;
			padding: 0 8px;
			border: 1px solid #ececec;
		}
		.signPicCon ul li p{
			line-height: 36px;
			color: #5f5e5e;
		}
		.signFont{
			width: 100%;
			padding: 15px 0;
			height: 115px;
			background: #f4f4f4;
			text-align: center;
		}
		.signStatus{
			padding: 10px 0;
			border-bottom: 1px solid #e7e7e7;
			overflow: hidden;
		}
		.signStatus span{
			line-height: 18px;
			font-size: 12px;
		}
		.signColor{
			width: 100%;
			font-size: 12px;
			padding: 10px 0;
		}
		.signColor a{
			font-size: 12px;
		}
		.receiverInfotable{
			font-size: 12px;
			line-height: 32px;
		}
		.receiverInfotable input, .receiverInfotable select{
			display: block;
			float: right;
			font-size: 12px;
			border: 1px solid #d9d9d9;
			line-height: 30px;
			height: 32px;
			padding: 0 5px;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
		.initiatortable{
			border: 1px solid #d9d9d9;
			width: 75%;
		}
		.initiatortable select{
			display: block;
			width: 100%;
			height: 100%;
			border: none;
			background: none;
			outline: none;
		}
		.initiatortable td{
			border-right: 1px solid #d9d9d9;
			width: 25%;
			text-align: center;
			background: #f5f5f5;
			line-height: 30px;
			color: #6e6e6e;
			padding: 0 !important;
		}
		.signNotice{
			width: 100%;
			height: 280px;
			padding: 20px 15px;
			border-bottom: 1px solid #f5f5f5;
		}
		.signNoticeType{
			width: 100%;
			padding: 25px 45px;
		}
		.signNoticeTypeTit{
			font-size: 14px;
			line-height: 20px;
			color: #585858;
		}
		.signNoticeTypeText{
			font-size: 12px;
			line-height: 20px;
			color: #a5a0a0;
		}
		.top-main-container-flex{
			width: 100%;
			height: 100%;
			display: flex;
			display: -ms-flexbox;
			display: -webkit-flex;
			flex-flow: row wrap; 
			align-items: stretch; 
			justify-content: space-between;
		}
		.signPic{
			width: calc(100% - 530px);
			height: 100%;
			padding: 0 70px;
		}
		.signPicShow{
			width: 100%;
			height: 100%;
			background: #fff;
			border-left: 1px solid #e9e9ea;
			border-right: 1px solid #e9e9ea;
			padding: 20px 50px;
			overflow-x: hidden;
			overflow-y: auto;
		}
		.signPics{
			width: 100%;
			min-height: 300px;
			-webkit-box-shadow: 0 0 15px 3px rgba(0,0,0,.1);  
			-moz-box-shadow: 0 0 15px 3px rgba(0,0,0,.1);  
			box-shadow: 0 0 15px 3px rgba(0,0,0,.1);
		}
		.signNoticeHeadLogo{
			width: 100%;
			padding: 15px 0;
			height: calc(100% - 90px);
			height: -moz-calc(100% - 90px);
			height: -webkit-calc(100% - 90px);
			overflow-x: hidden;
			overflow-y: auto;
		}
		.signNoticeHeadLogo ul li{
			height: 195px;
			margin: 10px auto;
			cursor: pointer;
		}
/*主体结束*/
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ngdialog,
.ngdialog *,
.ngdialog *:before,
.ngdialog *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}
.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
}
.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}
@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
.ngdialog.ngdialog-theme-default {
  padding: 0;
}
.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-fadeout 0.5s;
  animation: ngdialog-fadeout 0.5s;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: ngdialog-fadein 0.5s;
  animation: ngdialog-fadein 0.5s;
  background: #f0f0f0;
  border-radius: 5px;
  color: #444;
  position: absolute;
  top: 50%;
  left: 80px;
  right: 80px;
  font-family: 'Helvetica', sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  max-width: 100%;
  max-height: 100%;
  padding: 1em;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow-x: hidden;
  overflow-y: auto;
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #bbb;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: fixed;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-default .ngdialog-close:active:before {
  color: #777;
}
.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em;
}
.ngdialog.ngdialog-theme-default .ngdialog-input {
  margin-bottom: 1em;
}
.ngdialog.ngdialog-theme-default .ngdialog-input textarea,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"] {
  background: #fff;
  border: 0;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0 0 .25em;
  min-height: 2.5em;
  padding: .25em .67em;
  width: 100%;
}
.ngdialog.ngdialog-theme-default .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-default .ngdialog-input input[type="url"]:focus {
  -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
  box-shadow: inset 0 0 0 2px #8dbdf1;
  outline: none;
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons {
  *zoom: 1;
}
.ngdialog.ngdialog-theme-default .ngdialog-buttons:after {
  content: '';
  display: table;
  clear: both;
}
.ngdialog.ngdialog-theme-default .ngdialog-button {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  float: right;
  font-family: inherit;
  font-size: .8em;
  letter-spacing: .1em;
  line-height: 1em;
  margin: 0 0 0 .5em;
  padding: .75em 2em;
  text-transform: uppercase;
}
.ngdialog.ngdialog-theme-default .ngdialog-button:focus {
  -webkit-animation: ngdialog-pulse 1.1s infinite;
  animation: ngdialog-pulse 1.1s infinite;
  outline: none;
}
.ngdialog.ngdialog-theme-alert .ngdialog-content,
.ngdialog.ngdialog-theme-confirm .ngdialog-content {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  text-align: center;
  padding: 55px 20px 60px 20px;
  -webkit-animation: ngdialog-fadein 0.3s;
  animation: ngdialog-fadein 0.3s;
  border-radius: 3px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.ngdialog.ngdialog-theme-alert .ngdialog-content:before,
.ngdialog.ngdialog-theme-confirm .ngdialog-content:before {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  content: "提示";
  height: 34px;
  line-height: 34px;
  border-bottom: 1px solid #3288e6;
}
.ngdialog.ngdialog-theme-alert .ngdialog-close {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 3px 3px;
}
.ngdialog.ngdialog-theme-alert .ngdialog-close:before {
  background: transparent;
  color: #fff;
  content: '确认';
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  right: 0px;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #555;
}
.ngdialog.ngdialog-theme-alert.ngdialog-closing .ngdialog-content,
.ngdialog.ngdialog-theme-confirm.ngdialog-closing .ngdialog-content {
  -webkit-animation: ngdialog-fadeout 0.3s;
  animation: ngdialog-fadeout 0.3s;
}
.ngdialog.ngdialog-theme-confirm .ngdialog-close {
  position: absolute;
  left: 0;
  right: 50%;
  bottom: 0;
}
.ngdialog.ngdialog-theme-confirm .ngdialog-close:before {
  background: transparent;
  color: #fff;
  content: 'å–æ¶ˆ';
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 0;
  right: 0px;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #555;
}
.ngdialog.ngdialog-theme-confirm .ngdialog-confirm-btn {
  color: #fff;
  background: transparent;
  font-size: 14px;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  position: absolute;
  left: 50%;
  right: 0px;
  text-align: center;
  bottom: 0;
  border-top: 1px solid #555;
  border-left: 1px solid #555;
}
/*
.ngdialog-theme-view {
  .ngdialog-content {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(0,0,0,.9);
    text-align: center;
    -webkit-animation: ngdialog-fadein .3s;
    animation: ngdialog-fadein .3s;
    border-radius: 3px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
.ngdialog.ngdialog-theme-view .ngdialog-close {
  position: absolute;
  width: 36px;
  height: 36px;
  right: -18px;
  top: -18px;
}
.ngdialog.ngdialog-theme-view .ngdialog-close:before {
  background: transparent;
  content: '\00d7';
  font-size: 24px;
  font-weight: 400;
  width: 36px;
  line-height: 36px;
  position: absolute;
  left: 0;
  right: 0px;
  text-align: center;
  border-radius: 50%;
  background-color: #a0a0a0;
  color: #fff;
  box-shadow: 0 0 3px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
}
*/
.ngdialog-theme-input .ngdialog-content {
  width: 340px;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  text-align: center;
  -webkit-animation: ngdialog-fadein 0.3s;
  animation: ngdialog-fadein 0.3s;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ngdialog-theme-input .ngdialog-content .table-title{
    width: 100%;
    height: 40px;
    background: #2b323a;
    line-height: 40px;
    color: #fff;
}

.ngdialog.ngdialog-theme-input .ngdialog-close {
  display: none;
}
.ngdialog-theme-panel .ngdialog-content {
  width: 540px;
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  text-align: center;
  -webkit-animation: ngdialog-fadein 0.3s;
  animation: ngdialog-fadein 0.3s;
  border-radius: 3px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ngdialog.ngdialog-theme-panel .ngdialog-close:before {
  content: "å…³é—­";
}
.ngdialog-theme-fullview .ngdialog-content,
.ngdialog-theme-view .ngdialog-content {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: none;
}
.ngdialog-theme-fullview .ngdialog-close,
.ngdialog-theme-view .ngdialog-close {
  display: none;
}
.ngdialog-notopen .ngdialog-overlay{
	display: none;
}
.ngdialog-notopen .ngdialog-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 130px;
	background: none;
}
.ngdialog-notopen .ngdialog-close{
	display: none;
}
/*部分插件样式修改*/
.froala-element{
	height: calc(100% - 40px);
	height: -moz-calc(100% - 40px);
	height: -webkit-calc(100% - 40px);
}
