<div class="main-container">
	<ul class="idxItemList">
		<li class="floatLeft" ng-repeat="item in titleList track by $index" ng-click="titleSel($index,item)">
			<div class="itemCon pdt35" ng-class="{'itemConActive': item == selectd }">
				<div class="idxItem">
					<div class="idxItemLogo boxCircle posiRel floatLeft" ng-class="{'bgColorsuc': $index == '0','bgColorblue': $index == '1','bgColorwarn': $index == '2' }">
						<div class="idxItemLogoceil">
							<div class="square"></div>
							<div class="triangle-down"></div>
						</div>
					</div>
					<div class="idxItemText mrl15 floatLeft">
						<p ng-class="{'idxItemTitFir': $index == '0','idxItemTit': $index !='0'}">{{item}}</p>
						<p class="idxItemTetFir" ng-if="$index == '0'">当下支持:doc,docx,pdf,</br>jpg,png,jpeg,bmp格式</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</li>
		<div class="clearfix"></div>
	</ul>
	<ul class="itemList">
		<li class="floatLeft" ng-repeat="role in mainNavs track by $index" ng-if="$index !='0'">
			<div class="itemCon posiRel cursor" ng-click="operatePage(role.name)" style="overflow: hidden;">
				<div class="pTitle">
					{{role.name}}
				</div>
				<div class="itemcontent">
					<span class="idxItemLogo boxCircle bgColorblack displayBl floatLeft">
						<img src="../template/static/css/img/signme.png" class="mrt12" ng-if="role.name == '待我签署'" />
						<img src="../template/static/css/img/signother.png" class="mrt12" ng-if="role.name == '待他人签署'" />
						<img src="../template/static/css/img/signfinish.png" class="mrt12" ng-if="role.name == '已完成签署'" />
						<img src="../template/static/css/img/backfile.png" class="mrt12" ng-if="role.name == '退回的文件'" />
						<img src="../template/static/css/img/drafts.png" class="mrt12" ng-if="role.name == '草稿箱'" />
						<img src="../template/static/css/img/cloudFile.png" class="mrt12" ng-if="role.name == '云文件'" />
					</span>
					<span class="displayBl floatLeft mrl15">
						<p class="idxItemTit bigFont50">{{role.count}}<span class="bigFont36">次</span></p>
					</span>
					<div class="clearfix"></div>
				</div>
				<img src="../template/static/css/img/signmebg.png" class="posiAbs" width="110px" ng-if="role.name == '待我签署'" style="top: 80px;right: -30px;">
				<img src="../template/static/css/img/signotherbg.png" class="posiAbs" width="110px" ng-if="role.name == '待他人签署'" style="top: 90px;right: -30px;">
				<img src="../template/static/css/img/signfinishbg.png" class="posiAbs" width="110px" ng-if="role.name == '已完成签署'" style="top: 80px;right: -30px;">
				<img src="../template/static/css/img/backfilebg.png" class="posiAbs" width="110px" ng-if="role.name == '退回的文件'" style="top: 80px;right: -30px;">
				<img src="../template/static/css/img/draftsbg.png" class="posiAbs" width="110px" ng-if="role.name == '草稿箱'" style="top: 100px;right: -30px;">
				<img src="../template/static/css/img/cloudfilebg.png" class="posiAbs" width="110px" ng-if="role.name == '云文件'" style="top: 80px;right: -30px;">
			</div>
		</li>
	</ul>
</div>
