<div class="main-container-full" style="padding-right: 60px;">
	<div class="cloudNav">
		<div class="cloudSearch" style="height: 60px;">
			<input class="floatLeft" type="text" placeholder="搜索..." id="" value="" />
			<div class="addBtn cursor floatLeft">
				<img src="../template/static/css/img/newFile.png"/>
			</div>
			<div class="triangleDbtn cursor posiRel floatLeft">
				<img src="../template/static/css/img/moreBtn.png" ng-click="rankCondition()"/>
				<div class="searchType itemConActive" ng-if="showRank">
					<ul>
						<li ng-repeat="filt in filterArr track by $index" ng-click="liSel($index,filt)" ng-class="{'colorBlue': filt == elName}">{{filt}}<span ng-if="sel == $index" class="mrl10">✔</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cloudFileList" id="fileTitleList">
			<a ng-repeat="titleItem in fileTitleArr track by $index" ng-click="fileTitle($index,titleItem)" ng-class="{'cloudFileListActive': $index == selectd }">
				<img class="floatLeft" src="../template/static/css/img/file.png"/>
				<span class="mrl10 floatRight">{{$index+1}}.{{titleItem}}</span>
			</a>
		</div>
		<div class="cloudModelBtn cursor"><a href="#/fileModel">合同模板</a></div>
	</div>
	<div class="cloudMain">
		<div class="cloudMainTitle"><!--{{artTitle}}-->
			<input type="text" class="editTitle borderNone" title="{{artTitle}}" ng-model="artTitle" />
			<a class="btn-middle bgColorgray mrl15 floatRight">取消</a>
			<a class="btn-middle bgColorgray mrl15 floatRight" ng-click="saveEditor()">保存</a>
			<a class="btn-middle bgColorgray mrl15 floatRight">删除</a>
			<a class="btn-middle bgColorgray floatRight">签章</a>
		</div>
		<div class="cloudMainEditor" id="edit"></div>
	</div>
</div>
<script src="static/js/third/editor/js/froala_editor.min.js"></script>
<!--[if lt IE 9]>
	<script src="static/js/third/editor/js/froala_editor_ie8.min.js"></script>
<![endif]-->
<script src="static/js/third/editor/js/plugins/tables.min.js"></script>
<script src="static/js/third/editor/js/plugins/lists.min.js"></script>
<script src="static/js/third/editor/js/plugins/colors.min.js"></script>
<script src="static/js/third/editor/js/plugins/media_manager.min.js"></script>
<script src="static/js/third/editor/js/plugins/font_family.min.js"></script>
<script src="static/js/third/editor/js/plugins/font_size.min.js"></script>
<script src="static/js/third/editor/js/plugins/block_styles.min.js"></script>
<script src="static/js/third/editor/js/langs/zh_cn.js"></script>
