<div class="main-container-full" style="padding-right: 60px;">
	<div class="cloudNav">
		<div class="cloudSearch" style="height: 60px;">
			<input class="floatLeft" type="text" placeholder="搜索..." id="" value="" />
			<div class="addBtn cursor floatLeft">
				<img src="../template/static/css/img/newFile.png"/>
			</div>
			<div class="triangleDbtn cursor posiRel floatLeft">
				<img src="../template/static/css/img/moreBtn.png"/>
				<div class="searchType itemConActive">
					<ul>
						<li class="colorBlue">创建时间<span class="mrl10">✔</span></li>
						<li>修改时间<span class="mrl10">✔</span></li>
						<li>文件名称<span class="mrl10">✔</span></li>
						<li>文件大小<span class="mrl10">✔</span></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="cloudFileList">
			<a><img class="floatLeft" src="../template/static/css/img/file.png"/><span class="mrl10 floatRight">1.员工公寓租赁合同</span></a>
			<a class="cloudFileListActive"><img class="floatLeft" src="../template/static/css/img/file.png"/><span class="floatRight">2.员工公寓租赁合同员工公寓租赁合同员</span></a>
			<a><img class="floatLeft" src="../template/static/css/img/file.png"/><span class="mrl10 floatRight">2.员工公寓租赁合同员工公寓租赁合同员</span></a>
			<a><img class="floatLeft" src="../template/static/css/img/file.png"/><span class="mrl10 floatRight">1.员工公寓租赁合同</span></a>
		</div>
		<div class="cloudModelBtn cursor">合同模板</div>
	</div>
	<div class="cloudMain">
		<div class="cloudMainTitle">
			员工公寓租赁合同员工公寓租赁合同员
			<a class="btn-middle bgColorgray mrl15 floatRight">取消</a>
			<a class="btn-middle bgColorgray mrl15 floatRight" ng-click="saveEditor()">保存</a>
			<a class="btn-middle bgColorgray mrl15 floatRight">删除</a>
			<a class="btn-middle bgColorgray floatRight">签章</a>
		</div>
		<div class="cloudMainEditor" id="edit"></div>
	</div>
</div>
