<div class="main-container-full" style="padding: 20px 60px 80px 30px;">
	<div class="top-main-container">
		<div class="main-container-short-white mrb20">
			<div class="pTitle">
				第一步：上传文件
			</div>
			<div class="fileContent">
				<div class="filesContain" id="scrollable">
					<a class="filesArrowPrew filesArrowCon boxCircle bgColorgray colorWhite floatLeft" ng-click="scrollLeft()"><</a>
					<div class="filesPicCon posiRel floatLeft">
						<ul id="dowebok" class="filesPicConUl">
							<li class="filesPicConItem"><img data-original="../template/static/js/third/viewerJs/img/tibet-1.jpg" src="../template/static/js/third/viewerJs/img/thumbnails/tibet-1.jpg" alt="图片1" width="100%" height="100%"></li>
							<li class="filesPicConItem"><img data-original="../template/static/js/third/viewerJs/img/tibet-2.jpg" src="../template/static/js/third/viewerJs/img/thumbnails/tibet-2.jpg" alt="图片2" width="100%" height="100%"></li>
							<li class="filesPicConItem"><img data-original="../template/static/js/third/viewerJs/img/tibet-3.jpg" src="../template/static/js/third/viewerJs/img/thumbnails/tibet-3.jpg" alt="图片3" width="100%" height="100%"></li>
							<li class="filesPicConItem"><img data-original="../template/static/js/third/viewerJs/img/tibet-4.jpg" src="../template/static/js/third/viewerJs/img/thumbnails/tibet-4.jpg" alt="图片4" width="100%" height="100%"></li>
							<li class="filesPicConItem"><img data-original="../template/static/js/third/viewerJs/img/tibet-5.jpg" src="../template/static/js/third/viewerJs/img/thumbnails/tibet-5.jpg" alt="图片5" width="100%" height="100%"></li>
							<li class="filesPicConItem"><img data-original="../template/static/js/third/viewerJs/img/tibet-6.jpg" src="../template/static/js/third/viewerJs/img/thumbnails/tibet-6.jpg" alt="图片6" width="100%" height="100%"></li>
						</ul>
						<div class="scrollbar" ng-if="scrollbar"></div>
					</div>
					<a class="filesArrowNext filesArrowCon boxCircle bgColorgray colorWhite floatRight" ng-click="scrollRight()">></a>
				</div>
			</div>
		</div>
		<div class="main-container-short-white mrb20">
			<div class="pTitle">
				第二步：填写签收人信息
			</div>
			<div class="fileContent borderBtf5">
				<ul class="receiverInfotable">
					<li class="floatLeft">
						<span>签收人手机号/邮箱：</span>
						<input width="130px" type="" name="" id="" value="" />
					</li>
					<li class="floatLeft mrl25">
						<span>签收人姓名：</span>
						<input width="95px"  type="" name="" id="" value="" />
					</li>
					<li class="floatLeft mrl25">
						<span>签收人邮箱/手机号：</span>
						<input width="130px" type="" name="" id="" value="" />
					</li>
					<li class="floatLeft mrl25">
						<span>操作类型：</span>
						<select>
							<option value="">需要签名</option>
							<option value="">不需要签名</option>
							<option value="">需要签名</option>
						</select>
					</li>
					<li class="floatLeft mrl25">
						<span>签署方认证级别：</span>
						<input width="130px" type="" name="" id="" value="" />
					</li>
				</ul>
			</div>
			<div class="fileContent borderBtf5">
				<ul class="receiverInfotable">
					<li class="floatLeft">
						<span>签收人手机号/邮箱：</span>
						<input width="130px" type="" name="" id="" value="" />
					</li>
					<li class="floatLeft mrl25">
						<span>签收人姓名：</span>
						<input width="95px"  type="" name="" id="" value="" />
					</li>
					<li class="floatLeft mrl25">
						<span>签收人邮箱/手机号：</span>
						<input width="130px" type="" name="" id="" value="" />
					</li>
					<li class="floatLeft mrl25">
						<span>操作类型：</span>
						<select>
							<option value="">需要签名</option>
							<option value="">不需要签名</option>
							<option value="">需要签名</option>
						</select>
					</li>
					<li class="floatLeft mrl25">
						<span>签署方认证级别：</span>
						<input width="130px" type="" name="" id="" value="" />
					</li>
				</ul>
			</div>
			<div class="fileContent">
				<a class="btn-middle bgColorblue floatLeft">添加新签收人</a>
				<a class="btn-middle borderBlue colorBlue mrl15 floatLeft">删除上一条</a>
			</div>
		</div>
		<div class="main-container-short-white">
			<div class="pTitle">
				第三步：文件发起方签字
			</div>
			<div class="fileContent">
				<table class="initiatortable">
					<tr>
						<td style="background: #fff;">
							<select name="">
								<option value="">1</option>
								<option value="">1</option>
								<option value="">1</option>
								<option value="">1</option>
								<option value="">1</option>
								<option value="">1</option>
								<option value="">1</option>
								<option value="">1</option>
							</select>
						</td>
						<td>客户名</td>
						<td>9999888888@qq.com</td>
						<td>15288889999</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="bottom-btn-group text_align_center">
		<a class="btn-middle-long bgColorgray colorWhite hoverBlue font20 floatLeft" href="#/index">上一步</a>
		<a class="btn-middle-long bgColorgray colorWhite hoverBlue font20">保存</a>
		<a class="btn-middle-long bgColorgray colorWhite hoverBlue font20 floatRight" href="#/signature">下一步</a>
	</div>
</div>
