<div class="main-container-short-white">
	<div class="pTitle">
		退回的文件
	</div>
	<div class="pContent">
		<div class="searchbar mrb20">
			<div class="search floatLeft">
				<input type="text" placeholder="请输入文档标题" ng-model="documentTit" />
				<div class="btn-middle bgColorblue floatRight" ng-click="fastSearch()">快速筛选</div>
			</div>
			<div class="btn-middle bgBordergray floatLeft mrl15">高级筛选<span class="mrl10">▼</span></div>
			<div class="btn-middle bgBordergray floatRight">导出</div>
			<div class="clearfix"></div>
		</div>
		<div class="filterBar mrb20">
			<table>
				<tr>
					<td width="75">合同名称:</td>
					<td><input type="text" ng-model="documentName" /></td>
					<td>发起人:</td>
					<td><input type="text" ng-model="provider" /></td>
					<td>接收人:</td>
					<td><input type="text" ng-model="receiver" /></td>
				</tr>
				<tr>
					<td>开始时间:</td>
					<td><from-date></from-date></td>
					<td>结束时间:</td>
					<td><end-date></end-date></td>
					<td>类型:</td>
					<td>
						<select ng-model="docType">
							<option value="">请选择</option>
							<option value="1">类型一</option>
							<option value="2">类型二</option>
						</select>
					</td>
				</tr>
				<tr>
					<td colspan="6" class="text_align_left">
						<div class="btn-middle bgColorblue" ng-click="fiterSearch()">筛选</div>
						<div class="btn-middle bgBorderblue borderBlue mrl15" ng-click="filterReset()">重置</div>
					</td>
				</tr>
			</table>
		</div>
		<div class="resultBar">
			<div class="resultBarLeft floatLeft">
				<table>
					<tr>
						<th><div style="width: 300px;">发起人</div></th>
						<th><div style="width: 300px;">签收人</div></th>
						<th><div style="width: 300px;">标题</div></th>
						<th><div style="width: 300px;">创建时间</div></th>
						<th><div style="width: 300px;">类型</div></th>
					</tr>
					<tr>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
					</tr>
					<tr>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
						<td>Data</td>
					</tr>
				</table>
			</div>
			<div class="resultBarRight floatLeft mrb40">
				<table>
					<tr><th>操作</th></tr>
					<tr>
						<td>
							<a class="colorBlue text_underline">下载</a>
							<a class="mrl15 colorBlue text_underline">删除</a>
							<a class="mrl15 colorBlue text_underline" ng-click="documentRank()">文档流程</a>
						</td>
					</tr>
					<tr>
						<td>
							<a class="colorBlue text_underline">下载</a>
							<a class="mrl15 colorBlue text_underline">删除</a>
							<a class="mrl15 colorBlue text_underline" ng-click="documentRank()">文档流程</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="clearfix"></div>
			<div class="posiRel">
				<page-nav></page-nav>
			</div>
		</div>
	</div>
</div>
