<div class="main-container-full" style="padding: 20px 60px 80px 30px;">
	<div class="top-main-container">
		<div class="main-container-short-white mrb20">
			<div class="pTitle">
				第一步：上传文件
			</div>
			<div class="fileContent">
				<div class="filesContain" id="scrollable">
					<a class="filesArrowPrew filesArrowCon boxCircle bgColorgray colorWhite floatLeft" ng-click="scrollLeft()"><</a>
					<div class="filesPicCon posiRel floatLeft">
						<ul id="dowebok" class="filesPicConUl">
							<li class="filesPicConItem" ng-repeat="item in picurl track by $index" end-repeat><img data-original="{{globalImgPath}}{{item.docPath}}" err-src ng-src="{{globalImgPath}}{{item.docThumbPath}}" alt="图片{{$index}}" width="100%" height="100%"></li>
						</ul>
						<div class="scrollbar" ng-if="scrollbar"></div>
					</div>
					<a class="filesArrowNext filesArrowCon boxCircle bgColorgray colorWhite floatRight" ng-click="scrollRight()">></a>
				</div>
			</div>
		</div>
		<div class="main-container-short-white mrb20">
			<div class="pTitle">
				第二步：填写签收人信息
			</div>
			<div ng-repeat="item in contactList track by $index" class="fileContent borderBtf5">
				<form>
					<ul class="receiverInfotable">
						<li class="floatLeft">
							<span>签收人手机号/邮箱：</span>
							<input width="130px" type="text" name="tel" title="{{item.mobile}}" ng-blur="checkPerson($event, $index)" value="{{item.mobile}}" />
						</li>
						<li class="floatLeft mrl25">
							<span>签收人姓名：</span>
							<input width="95px" type="text" id="name_{{$index}}" value="{{item.userName}}" readonly />
						</li>
						<li class="floatLeft mrl25">
							<span>签收人邮箱/手机号：</span>
							<input width="130px" type="text" id="mail_{{$index}}" title="{{item.email}}" value="{{item.email}}" readonly />
						</li>
						<li class="floatLeft mrl25">
							<input type="hidden" name="userId" id="userid_{{$index}}" value="{{item.id}}" />
							<span>操作类型：</span>
							<select name="selecttype" id="selType_{{$index}}">
								<option value=""></option>
								<option ng-selected="item.typestate == '0'" value="0">需要签署</option>
								<option ng-selected="item.typestate == '1'" value="1">接受副本</option>
							</select>
						</li>
						<li class="floatLeft mrl25">
							<span>签署方认证级别：</span>
							<input width="130px" type="text" class="recRank" id="rec_{{$index}}" value="{{item.authentication}}" readonly />
						</li>
					</ul>
				</form>
			</div>
			<div class="fileContent">
				<a class="btn-middle bgColorblue floatLeft" ng-click="addReceiver()">添加新签收人</a>
				<a class="btn-middle borderBlue colorBlue mrl15 floatLeft" ng-click="removeLast()">删除上一条</a>
			</div>
		</div>
		<div class="main-container-short-white">
			<div class="pTitle">
				第三步：文件发起方签字
			</div>
			<div class="fileContent overflowVis">
				<table class="initiatortable">
					<tr>
						<td style="background: #fff;position: relative;">
							<div ng-click="selSign()" style="width: 100%;height: 100%;padding: 5px 0;">
								<img err-src ng-src="{{remotUrl}}" height="30" style="display: block;margin: auto;" />
							</div>
							<ul id="payments" ng-show="signscon" style="position:absolute;top: 40px;left: 0;width: 100%;background: #fff;border: 1px solid #ccc;">
								<li ng-repeat="sign in signlist track by $index" ng-click="signselected(sign.id,sign.filePath)" data-id="{{sign.id}}" style="width: 100%;text-align: center;padding: 5px 0;border-bottom: 1px solid #ddd;">
									<img err-src ng-src="{{globalImgPath}}{{sign.filePath}}" height="30" style="display: block;margin: auto;" />
								</li>
							</ul>
						</td>
						<td>{{perInfo.userName}}</td>
						<td>{{perInfo.email}}</td>
						<td>{{perInfo.mobile}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="bottom-btn-group text_align_center">
		<a class="btn-middle-long bgColorgray colorWhite hoverBlue font20 floatLeft" href="#/index">上一步</a>
		<a class="btn-middle-long bgColorgray colorWhite hoverBlue font20" data-id="save" ng-click="saveInfo($event)">保存草稿</a>
		<a class="btn-middle-long bgColorgray colorWhite hoverBlue font20 floatRight" data-id="next" ng-click="saveInfo($event)">下一步</a>
	</div>
</div>
