<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
<h1 style="text-align: center;"><strike>我是<strong>与</strong></strike></h1><p><strong>阿德法</strong></p><p><strong>斯蒂<u>芬撒</u></strong></p><p><strong><u>三大<span data-fr-verified="true" style="background-color: #76A5AF; font-family: Trebuchet MS;">夫妇撒旦法</span></u></strong></p><p class="f-italic"><span data-fr-verified="true" style="text-decoration-line: underline; background-color: rgb(118, 165, 175); font-family: &quot;">阿斯大三</span><u><span data-fr-verified="true" style="background-color: rgb(255, 255, 255); font-family: &quot;">大四</span></u><span data-fr-verified="true" style="background-color: rgb(255, 255, 255); font-family: &quot; color: #6AA84F;">的</span></p></html>
