<div class="main-container-short-white mrb20">
	<div class="pTitle">
		信息认证
	</div>
	<div class="pContent">
		<div class="pMsgRec floatLeft posiRel">
			<div class="pMsgRecItem mrAuto cursor" ng-click="mobileCli()">
				<div class="pMsgReclogo boxCircle floatLeft">
					<img src="../template/static/css/img/phone.png"/>
				</div>
				<div class="pMsgRectext floatLeft">
					<p class="pMsgRectextTit">手机认证
						<span ng-show="recmo" class="bgColorsuc boxCircle">✔</span>
						<span ng-show="!recmo" class="bgColordanger boxCircle">!</span>
					</p>
					<p class="pMsgRectextTet">您已完成手机认证</p>
				</div>
				<div class="vertail-line-2-78"></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="pMsgRec floatLeft posiRel">
			<div class="pMsgRecItem mrAuto cursor" ng-click="mailCli()">
				<div class="pMsgReclogo boxCircle floatLeft">
					<img src="../template/static/css/img/mail.png"/>
				</div>
				<div class="pMsgRectext floatLeft">
					<p class="pMsgRectextTit">邮箱认证
						<span ng-show="recma" class="bgColorsuc boxCircle">✔</span>
						<span ng-show="!recma" class="bgColordanger boxCircle">!</span>
					</p>
					<p class="pMsgRectextTet">邮箱认证后可使用更多服务</p>
				</div>
				<div class="vertail-line-2-78"></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="pMsgRec floatLeft posiRel">
			<div class="pMsgRecItem mrAuto cursor" ng-click="nameRealCli()">
				<div class="pMsgReclogo boxCircle floatLeft">
					<img src="../template/static/css/img/person.png"/>
				</div>
				<div class="pMsgRectext floatLeft">
					<p class="pMsgRectextTit">实名认证
						<span ng-show="recna" class="bgColorsuc boxCircle">✔</span>
						<span ng-show="!recna" class="bgColordanger boxCircle">!</span>
					</p>
					<p class="pMsgRectextTet">实名认证后可使用更多服务</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="main-container-short-white mrb20" ng-show="mailRec">
	<div class="pTitle">
		邮箱认证
	</div>
	<div class="pContent">
		<div class="pMailRecTips floatLeft">
			<p class="pMailRecTit">邮箱认证后你可享受以下服务:</p>
			<p class="pMailRecTet"><b>邮箱账户登录:</b>直接使用邮箱登录到玺签宝。</p>
			<p class="pMailRecTet"><b>重要事件提醒:</b>签章信息，可及时收到邮箱提醒。</p>
			<p class="pMailRecTet"><b>找回密码:</b>忘记密码时，可使用邮箱找回密码。</p>
		</div>
		<div class="pMailRecDatas floatLeft">
			<div class="pMailRecItem posiRel mrAuto">
				<div class="pMailRecItembg"></div>
				<div class="pMailRecItemTip">
					<ul>
						<li class="floatLeft">
							<span>1.填写邮箱号码</span>
							<span class="arrow"></span>
						</li>
						<li class="floatLeft">
							<span>2.接收并填写验证码</span>
							<span class="arrow"></span>
						</li>
						<li class="floatLeft">
							<span>3.认证成功</span>
							<span class="arrow"></span>
						</li>
					</ul>
				</div>
				<div class="pMailRecGroupCon posiAbs">
					<div class="pMailRecGroup mrb40">
						<div class="pMailReclogo boxCircle bgColorblue floatLeft">1</div>
						<div class="pMailRectext floatLeft">请输入邮箱号:</div>
						<div class="pMailRecIpt floatLeft"><input type="text" ng-model="mailNum" /></div>
						<div id="mailyzmShow" class="pMailRecBtn bgColorblue floatLeft cursor" ng-click="getmailYzm()">获取验证码</div>
						<div id="mailyzm" class="pMailRecBtn bgColorblue floatLeft displayNo"></div>
						<div class="clearfix"></div>
					</div>
					<div class="pMailRecGroup">
						<div class="pMailReclogo boxCircle bgColorblue floatLeft">2</div>
						<div class="pMailRectext floatLeft">请输入验证码:</div>
						<div class="pMailRecIpt floatLeft"><input type="text" ng-model="mailYzm" /></div>
						<div class="pMailRecBtn bgColorblue floatLeft" ng-click="submail()">提交</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="main-container-short-white mrb20" ng-show="mobileRec">
	<div class="pTitle">
		手机认证
	</div>
	<div class="pContent">
		<div class="pMailRecTips floatLeft">
			<p class="pMailRecTit">手机认证后你可享受以下服务:</p>
			<p class="pMailRecTet"><b>手机账户登录:</b>直接使用手机号登录到玺签宝。</p>
			<p class="pMailRecTet"><b>重要事件提醒:</b>签章信息，可及时收到短信提醒。</p>
		</div>
		<div class="pMailRecDatas floatLeft">
			<div class="pMailRecItem posiRel mrAuto">
				<div class="pMailRecItembg"></div>
				<div class="pMailRecItemTip">
					<ul>
						<li class="floatLeft">
							<span>1.填写手机号码</span>
							<span class="arrow"></span>
						</li>
						<li class="floatLeft">
							<span>2.接收并填写验证码</span>
							<span class="arrow"></span>
						</li>
						<li class="floatLeft">
							<span>3.认证成功</span>
							<span class="arrow"></span>
						</li>
					</ul>
				</div>
				<div class="pMailRecGroupCon posiAbs">
					<div class="pMailRecGroup mrb40">
						<div class="pMailReclogo boxCircle bgColorblue floatLeft">1</div>
						<div class="pMailRectext floatLeft">请输入手机号:</div>
						<div class="pMailRecIpt floatLeft"><input type="text" ng-model="telphone" /></div>
						<div id="mobileyzmshow" class="pMailRecBtn bgColorblue floatLeft cursor" ng-click="getphoneYzm()">获取验证码</div>
						<div id="mobileyzm" class="pMailRecBtn bgColorblue floatLeft displayNo"></div>
						<div class="clearfix"></div>
					</div>
					<div class="pMailRecGroup">
						<div class="pMailReclogo boxCircle bgColorblue floatLeft">2</div>
						<div class="pMailRectext floatLeft">请输入验证码:</div>
						<div class="pMailRecIpt floatLeft"><input type="text" ng-model="phoneYzm" /></div>
						<div class="pMailRecBtn bgColorblue floatLeft cursor" ng-click="subMobile()">提交</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div class="main-container-short-white" ng-show="realNameRec">
	<div class="pTitle">
		实名认证
	</div>
	<div class="pContent">
		<div class="pNameRecTips floatLeft">
			<p class="pMailRecTit">实名认证后你可享受以下服务:</p>
			<p class="pMailRecTet"><b>设置签章:</b>设计常规签章与个性化签章</p>
			<p class="pMailRecTet"><b>使用签章:</b>使用签章功能</p>
			<p class="pMailRecTet"><b>赠送服务:</b>免费使用基础签章功能</p>
		</div>
		<div class="pNameRecDatas floatLeft">
			<div class="pNameRecItem mrAuto" ng-show="idcardShow">
				<div class="pNameRecItemTip">
					<ul>
						<li class="floatLeft pNameRecItemTipAct cursor">
							<span>上传身份证认证</span>
						</li>
						<li class="floatLeft cursor" ng-click="bankRec()">
							<span>通过银行预留信息认证</span>
						</li>
						<div class="clearfix"></div>
					</ul>
				</div>
				<div class="idRecGroupCon mrt20">
					<table width="490">
						<tr>
							<td>
								<div class="idRecGroup mrAuto">
									<div class="idRecGroupTit">
										身份证信息页
									</div>
									<div class="idRecGroupPic">
										<!--<div class="idPicFront"></div>-->
										<img id="frontIdPic" src="../template/static/css/img/idCardidx.png" width="100%" height="100%" />
									</div>
									<div class="idRecGroupBtn mrt10">
										<a href="javascript:;" class="a-upload">
											<input type="file" id="frontId" name="uploadify" />上传文件
										    <!--<input type="file" data-id="frontId" accept="image/png,image/gif,image/jpg,image/jpeg" onchange="angular.element(this).scope().fileUpload(this.files,this)">上传文件-->
										</a>
									</div>
								</div>
							</td>
							<td>
								<div class="idRecGroup mrAuto">
									<div class="idRecGroupTit">
										身份证国徽页
									</div>
									<div class="idRecGroupPic">
										<!--<div class="idPicBack"></div>-->
										<img id="backIdPic" src="../template/static/css/img/idCardbg.png" width="100%" height="100%" />
									</div>
									<div class="idRecGroupBtn mrt10">
										<a href="javascript:;" class="a-upload">
											<input type="file" id="backId" name="uploadify" />上传文件
										    <!--<input type="file" data-id="backId" accept="image/png,image/gif,image/jpg,image/jpeg" onchange="angular.element(this).scope().fileUpload(this.files,this)">上传文件-->
										</a>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="idRecGroup mrAuto mrt10">
									<div class="idRecGroupTit">
										手持身份证照
									</div>
									<div class="idRecGroupPic">
										<!--<div class="idPicPeo"></div>-->
										<img id="handIdPic" src="../template/static/css/img/idCardph.png" width="100%" height="100%" />
									</div>
									<div class="idRecGroupBtn mrt10">
										<a href="javascript:;" class="a-upload">
											<input type="file" id="handId" name="uploadify" />上传文件
										    <!--<input type="file" data-id="handId" accept="image/png,image/gif,image/jpg,image/jpeg" onchange="angular.element(this).scope().fileUpload(this.files,this)">上传文件-->
										</a>
									</div>
								</div>
							</td>
							<td class="posiRel">
								<div class="posiAbs idRecGroupConfirm">
									<a class="btn-middle bgBorderblue borderBlue" ng-click="Inforwrap()">上一步</a>	
									<a class="btn-middle bgColorblue borderBlue mrl15" ng-click="infoRecSubmit()">确定</a>	
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			<div class="pSetmsg mrt20" ng-show="inforShow">
				<table>
					<tr>
						<td><i>*</i>姓名:</td>
						<td><input type="text" ng-model="loginName" /></td>
					</tr>
					<tr>
						<td><i>*</i>身份证号:</td>
						<td><input type="text" ng-model="loginIdnum" /></td>
					</tr>
					<tr>
						<td><i>*</i>常用地址:</td>
						<td>
							<select ng-model="province" ng-change="getCity()">
							    <option value="" disabled>省</option>
							    <option ng-selected="province == proItem.id" ng-repeat="proItem in proList track by $index" title="{{proItem.title}}" value="{{proItem.id}}">{{proItem.title}}</option>
							</select>
							<select ng-model="city" ng-change="getCountry()">
							    <option value="" disabled>市</option>
							    <option ng-selected="city == cityItem.id" ng-repeat="cityItem in cityList track by $index" title="{{cityItem.title}}" value="{{cityItem.id}}">{{cityItem.title}}</option>
							</select>
							<select ng-model="county">
							    <option value="" disabled>区/县</option>
							    <option ng-selected="county == counItem.id" ng-repeat="counItem in counList track by $index" title="{{counItem.title}}" value="{{counItem.id}}">{{counItem.title}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><input type="text" placeholder="详细地址" ng-model="detailAdd" /></td>
					</tr>
					<tr>
						<td>公司名称:</td>
						<td><input type="text" ng-model="company" /></td>
					</tr>
					<tr>
						<td>工作职位:</td>
						<td><input type="text" ng-model="job" /></td>
					</tr>
					<tr>
						<td></td>
						<td><div class="pSetmsgSubmit bgColorblue" ng-click="inforIdcard()">下一步</div></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
