<div class="main-container-white">
	<div class="pTitle">
		个人信息
	</div>
	<div class="pHeadlogo">
		<div class="pHeadlogoPic">
			<img src="../template/static/css/img/personInfoLogo.png">
		</div>
		<div class="pHeadlogoText">
			修改头像
		</div>
	</div>
	<div class="pSetmsg">
		<table>
			<tr>
				<td>登录名:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td><i>*</i>身份证号:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td><i>*</i>常用地址:</td>
				<td>
					<select>
						<option value="" disabled selected>省</option>
					</select>
					<select>
						<option value="" disabled selected>市</option>
					</select>
					<select>
						<option value="" disabled selected>区/县</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="text" placeholder="详细地址" /></td>
			</tr>
			<tr>
				<td>公司名称:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td>工作职位:</td>
				<td><input type="text" /></td>
			</tr>
			<tr>
				<td></td>
				<td><div class="pSetmsgSubmit bgColorblue">提交</div></td>
			</tr>
		</table>
	</div>
</div>
