<style type="text/css">
	#logoFile{
		position: absolute;
		left: 0;
		top: 0;
		z-index: 9;
		opacity: 0;
		border-radius: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	#logoFile-button{
		width: 100%;
		height: 100%;
	}
</style>
<div class="main-container-white">
	<div class="pTitle">
		个人信息
	</div>
	<div class="pHeadlogo">
		<div class="pHeadlogoPic posiRel">
			<img id="logoPic" src="../template/static/css/img/personInfoLogo.png" width="100%" height="100%">
			<input type="file" class="logoFile cursor" id="logoFile" name="uploadify" />上传文件
			<!--<input type="file" class="logoFile cursor" onchange="angular.element(this).scope().fileUpload(this.files)" multiple id="inputs" />-->
		</div>
		<div class="pHeadlogoText">
			修改头像
		</div>
	</div>
	<div class="pSetmsg">
		<table>
			<tr>
				<td>登录名:</td>
				<td><input type="text" ng-model="loginName" /></td>
			</tr>
			<tr>
				<td><i>*</i>身份证号:</td>
				<td><input type="text" ng-model="loginIdnum" /></td>
			</tr>
			<tr>
				<td><i>*</i>常用地址:</td>
				<td>
					<select ng-model="province" ng-change="getCity()">
					    <option value="" disabled>省</option>
					    <option ng-selected="province == proItem.id" ng-repeat="proItem in proList track by $index" title="{{proItem.title}}" value="{{proItem.id}}">{{proItem.title}}</option>
					</select>
					<select ng-model="city" ng-change="getCountry()">
					    <option value="" disabled>市</option>
					    <option ng-selected="city == cityItem.id" ng-repeat="cityItem in cityList track by $index" title="{{cityItem.title}}" value="{{cityItem.id}}">{{cityItem.title}}</option>
					</select>
					<select ng-model="county">
					    <option value="" disabled>区/县</option>
					    <option ng-selected="county == counItem.id" ng-repeat="counItem in counList track by $index" title="{{counItem.title}}" value="{{counItem.id}}">{{counItem.title}}</option>
					</select>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="text" placeholder="详细地址" ng-model="detailAdd" /></td>
			</tr>
			<tr>
				<td>公司名称:</td>
				<td><input type="text" ng-model="company" /></td>
			</tr>
			<tr>
				<td>工作职位:</td>
				<td><input type="text" ng-model="job" /></td>
			</tr>
			<tr>
				<td></td>
				<td><div class="pSetmsgSubmit bgColorblue" ng-click="infoSubmit()">提交</div></td>
			</tr>
		</table>
	</div>
</div>
