<div class="main-container-short-white mrb20">
	<div class="pTitle">
		安全认证
	</div>
	<div class="pContent">
		<div class="pMsgRec floatLeft posiRel">
			<div class="pMsgRecItem mrAuto">
				<div class="pMsgReclogo boxCircle floatLeft">
					<img src="../template/static/css/img/passwordLogo.png"/>
				</div>
				<div class="pMsgRectext floatLeft">
					<p class="pMsgRectextTit">登录密码<span class="bgColorsuc boxCircle">✔</span></p>
					<p class="pMsgRectextTet"><span>已设置</span><a class="mrl15 colorDanger text_underline">修改</a></p>
				</div>
				<div class="vertail-line-2-78"></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="pMsgRec floatLeft posiRel">
			<div class="pMsgRecItem mrAuto">
				<div class="pMsgReclogo boxCircle floatLeft bgColordanger">
					<img src="../template/static/css/img/passwordLogo.png"/>
				</div>
				<div class="pMsgRectext floatLeft">
					<p class="pMsgRectextTit">签署密码<span class="bgColordanger boxCircle">!</span></p>
					<p class="pMsgRectextTet"><span>未设置</span><a class="mrl15 colorDanger text_underline">设置</a></p>
				</div>
				<div class="vertail-line-2-78"></div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="pMsgRec floatLeft posiRel">
			<div class="pMsgRecItem mrAuto">
				<div class="pMsgReclogo boxCircle floatLeft bgColorsuc">
					<img src="../template/static/css/img/ukeyLogo.png"/>
				</div>
				<div class="pMsgRectext floatLeft">
					<p class="pMsgRectextTit">UKey证书<span class="bgColordanger boxCircle">!</span></p>
					<p class="pMsgRectextTet"><span>未绑定</span><a class="mrl15 colorDanger text_underline">绑定</a></p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<div class="main-container-short-white mrb20">
	<div class="pTitle">
		登录密码修改
	</div>
	<div class="pContent">
		<div class="pSetmsg">
			<table>
				<tr>
					<td>输入原密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td>输入新密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td>确认新密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td></td>
					<td><div class="pSetmsgSubmit bgColortextblue">下一步</div></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="main-container-short-white mrb20">
	<div class="pTitle">
		签署密码设置
	</div>
	<div class="pContent">
		<div class="pSetmsg">
			<table>
				<tr>
					<td>输入签署密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td>确认签署密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td></td>
					<td><div class="pSetmsgSubmit bgColortextblue">确定</div></td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="main-container-short-white mrb20">
	<div class="pTitle">
		签署密码修改
	</div>
	<div class="pContent">
		<div class="pSetmsg">
			<table>
				<tr>
					<td>输入原密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td>输入新密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td>确认新密码:</td>
					<td><input type="text" /></td>
				</tr>
				<tr>
					<td></td>
					<td><div class="pSetmsgSubmit bgColortextblue">下一步</div></td>
				</tr>
			</table>
		</div>
	</div>
</div>
